*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* @font-face {
    font-family: "CustomFont";
    src: url("https://yoursite.com/css/fonts/CustomFont.eot");
    src: url("https://yoursite.com/css/fonts/CustomFont.woff") format("woff"),
    url("https://yoursite.com/css/fonts/CustomFont.otf") format("opentype"),
    url("https://yoursite.com/css/fonts/CustomFont.svg#filename") format("svg");
    }
    
     */

body{
    background-color: #383838;
    font-family: 'Poppins', sans-serif;
}

.signUpPage{
    border: 1px black;
    border-style: solid;
    display: flex;
    width: 50%;
    height: 100vh;
    margin: auto;
}

/* Left */
.leftSide{
    display: flex;
    position: relative;
    overflow: clip;
    width: 100%;

}

.bgImg{
    position: absolute;
    max-height: 100%;
    z-index: 1;
}

.logoBanner{
    display: flex;
    z-index: 2;
    background-color: rgb(0 0 0 /.6);
    height: 10vw;
    margin-top: 200px;
    width: 100%;
    justify-content: center;
    padding: 10px;
}

.logoBanner h1{
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    text-transform: uppercase;
}


/* Right */
.rightSide{
    z-index: 10;
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 236, 236);
}
.container{
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/1;
    flex-grow: 1;
    /* padding: 20px; */
}

.topRight{

    display: flex;
    justify-content: end;
    padding: 20px;
    
}
.topRight p{
    padding-top: 10px;
    font-weight: bold;
}

.middle{
    box-shadow: 0px 3px 5px #888, 0px 0px 0px #888;
}

.middle h4{
    padding: 20px 0px 0px 20px;
}

form{
    display: flex;
    flex-wrap: wrap;
}


.inputContainer{
    display: flex;
    flex-direction: column;
    /* border: none; */
}

.info{
    border-radius: 6px;
    padding: 5px;
    border: 1px solid #E5E7EB;
}
.info:focus{
    /* border: 10px solid #3e7af1; */
    outline: solid 1px  #2540d8;
    box-shadow: 0 0 10px #719ECE;
}
.info:valid{
    outline: solid 1px  #26b809;
    background-color: #bbffae;
    
}

.info:invalid{
    outline: solid 1px  red;
    background-color: rgb(253, 231, 231);

}

.inputRow{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
}

.bottomRight{
    padding: 20px;
}

.accountButton{
    background-color: #596D48;
    height: 30px;
    width: 130px;
    margin-bottom: 20px;
    color: white;
    border-radius: 8px;
    border: none;
}
